<h2> Notification Works !</h2>

<!-- Footer Element -->
<footer class="page-footer font-small blue pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h3 class="text-uppercase">MORE INFORMATION</h3>
          <p>Information about PT Komatsu Indonesia Foundry Plant you can visit link <a href="http://www.komi.co.id/facilities/cacing-plants/foundry?lang=en">here</a></p>
        </div>
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Copyright © 2019 
      <a href="http://parametris.com/" style="color:gold;"><em>PT Parametrik Solusi Integrasi</em> </a>
    </div>
    <!-- Copyright -->
  </footer>
  
  