.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-size: cover;
  }
  
  .about-profile{
      margin: 20px;
  }

  .ProfileImage{
      size: 50px;
      text-align: left;
      height: 200px;
      width: 700px;
  }


/* Footer Style */
footer {
  background-color: rgb(30, 103, 187);
  color:white;
  font-size: 18px;
  padding: 0;
  margin-top: 20px;
  text-align: left;
}
.footer-copyright{
  text-align: center;
}
.row{
  margin: 0px;
}

/* Responsive design on ipad */
@media only screen and (min-width:375px) and (max-width:1024px) {
  .text-uppercase, .text-content{
      text-align: left;
      font-size: 20px;
  }
  .footer-copyright{
      font-size: 15px;
  }
}

/* Responsive design on mobile phone */
@media only screen and (max-width:375px){
  .text-uppercase, .text-content{
      text-align: left;
      font-size: 15px;
      padding:5px;
      margin: 2px;
  }
  .footer-copyright{
      font-size: 10px;
      padding: 2px;
      margin: 5px;
  }
}