

<h3>Table of Images</h3>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">No</th>
        <th scope="col">Operator</th>
        <th scope="col">Model Type</th>
        <th scope="col">Squence MOdel</th>
        <th scope="col">Checkbox</th>
        <th scope="col">Percent</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of dataList; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ data.nama_op}}</td>
        <td>{{ data.model_type}}</td>
        <td>{{ data.model_urut}}</td>
        <td>{{ data.result_checkbox}}</td>
        <td>{{ data.result_presentase}}</td>
    </tr>
  </tbody>
</table>

<p *ngFor="let res of dataCheckbox">{{res}}</p>

<h3>Display Image Here</h3>
<hr>
<!-- Image1 -->
<mat-accordion>
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle 
        (opened)="ExpansionImage1 = true"
        (closed)="ExpansionImage1 = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Image 1
            </mat-panel-title>
            <hr>
            <mat-panel-description>
             condition: {{ExpansionImage1 ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="flex-container">
              <div><img [src]="image1" alt="loading img" width="800" height="600"></div>
              <div>
                  <mat-list>
                      <h4>Detail Checkbox:</h4>
                      <mat-divider></mat-divider>
                      <mat-list-item *ngFor="let cc1 of arraycheckbox1">{{cc1}}</mat-list-item>
                  </mat-list>  
            </div>
          </div>
        </mat-expansion-panel>

         <mat-expansion-panel (opened)="ExpansionImage2 = true"
                             (closed)="ExpansionImage2 = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Image 2
            </mat-panel-title>
            <hr>
            <mat-panel-description>
             condition: {{ExpansionImage2 ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div><img [src]="image2" alt="loading img"></div>
        </mat-expansion-panel>

         <mat-expansion-panel (opened)="ExpansionImage3 = true"
                                   (closed)="ExpansionImage3 = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Image 3
                  </mat-panel-title>
                  <hr>
                  <mat-panel-description>
                   condition: {{ExpansionImage3 ? 'open' : 'closed'}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
            <div><img [src]="image3" alt="loading img"></div>
        </mat-expansion-panel>
    </mat-accordion>

<!-- Footer Element -->
<footer class="page-footer font-small blue pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h3 class="text-uppercase">MORE INFORMATION</h3>
        <p>Information about PT Komatsu Indonesia Foundry Plant you can visit link <a href="http://www.komi.co.id/facilities/cacing-plants/foundry?lang=en">here</a></p>
      </div>
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Copyright © 2019 
    <a href="http://parametris.com/" style="color:gold;"><em>PT Parametrik Solusi Integrasi</em> </a>
  </div>
  <!-- Copyright -->
</footer>

