.images{
    margin: 80px;
    text-align: center;
}

h2{
    margin: 30px;
    text-align: center;
}

.flex-container {
    display: flex;
  }
.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 20px;
  }


  /* Footer Style */
footer {
  background-color: rgb(30, 103, 187);
  color: white;
  font-size: 18px;
  padding: 0;
  margin-top: 20px;
  text-align: left;
}
.footer-copyright{
  text-align: center;
}
.row{
  margin: 0px;
}