<!-- 
Author :  dhikihandika
Date   :  05-11-2019
 -->

<!-- Checkbox and Presentase Line Chart -->
<div class="sub-dash">
    <mat-accordion>
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle 
          (opened)="panelLineOpenState = true"
          (closed)="panelLineOpenState = false">
              <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h3>Line Chart Data</h3>
                  </mat-panel-title>
                  <mat-panel-description>
                      condition: {{panelLineOpenState ? 'open' : 'closed'}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
            <p class="chart-title">Checkbox and Presentase Line Chart </p>
            <app-linechart></app-linechart>
          </mat-expansion-panel>
      </mat-accordion>
</div>

<!-- Checkbox and Presentase Bar Chart -->
<div class="sub-dash">
<mat-accordion>
    <br>
    <mat-expansion-panel (opened)="panelBarOpenState = true"
                           (closed)="panelBarOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Bar Chart Data</h3>
          </mat-panel-title>
          <mat-panel-description>
              condition: {{panelBarOpenState ? 'open' : 'closed'}}
             </mat-panel-description>
        </mat-expansion-panel-header>
        <p class="chart-title">Checkbox and Presentase Bar Chart </p>
        <app-barchart></app-barchart>
      </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- Footer Element -->
<footer class="page-footer font-small blue pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h3 class="text-uppercase">MORE INFORMATION</h3>
        <p class="text-content">Information about PT Komatsu Indonesia Foundry Plant you can visit link <a style="color: aqua;" href="http://www.komi.co.id/facilities/cacing-plants/foundry?lang=en"><em>here</em></a></p>
      </div>
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Copyright © 2019 
    <a href="http://parametris.com/" style="color:gold;"><em>PT Parametrik Solusi Integrasi</em> </a>
  </div>
  <!-- Copyright -->
</footer>

